[core]
    editor = nvim
    pager = delta 
    excludesfile = ~/.gitignore_global
    autocrlf = input
    filemode = true

[init]
    defaultBranch = main

[fetch]
    prune = true

[pull]
    ff = only

[push]
    default = simple
    autoSetupRemote = true

[rebase]
    autoStash = true

[merge]
    ff = only

[diff]
    colorMoved = default
	tool = nvimdiff

[color]
    ui = auto

[alias]
    amend = commit --amend --no-edit
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    unstage = restore --staged

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/

[include]
    path = ~/.gitconfig-local

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Monokai Extended
[difftool]
	prompt = false
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
